---
import Post from "./Post.astro";
const posts = await Astro.glob("../pages/blog/*.md");
---

<section class="flex flex-col gap-3">
  <h2 class="text-3xl font-semibold dark:text-white">Posts</h2>
  {
    posts.map((data) => (
      <Post
        title={data.frontmatter.title}
        description={data.frontmatter.description}
        date={data.frontmatter.date}
        topic={data.frontmatter.topic}
        url={data.url}
      />
    ))
  }
</section>

<script></script>
